/* Copy and paste your CSS from CodePen into here */
* {
  font-family: monospace;
  font-size: large;
}

body{
  background-color: rgb(230, 230, 230);
  color: black;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px
}

h3 {
  font-size: 20px;
}

#title {
  text-decoration: underline;
}

#img-reich {
  max-width: 400px;
  display: block;
  border-radius: 7.5%;
  margin-left: auto;
  margin-right: auto;
}

.inline-img {
  max-width: 400px;
  max-height: 152px;
  display: inline;
  border-radius: 7.5%;
}

#img-webb {
  max-height: 250px;
}

.text-align-center {
  text-align: center;
}

/* Below selects only the iframes within the seminal-works-div */
#seminal-works-div iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #influence-div iframe {
  I wasn't sure how to horizontally center both the iframe and image next to each other, so I added an left margin of arbitrary length.
  margin-left: 30%;
} */  

.table-center {
  margin-left: auto;
  margin-right: auto;
}

#conclusion-description-line-1{
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}